
       <% include ../partials/navbar%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <div class="container">
          <!-- start -->
          <div class="row">
         <% for(var i=0;i<fileImageArray.length;i++){%>
             <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="/ImagesUploaded/<%= fileImageArray[i]%>" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <%= appArray[i].name%>
                        </h4>
                        <p class="card-text">Vendor Name: <%= appArray[i].VendorName%> <br>Size: <%=appArray[i].size%><br>Number of Downloads: <%= appArray[i].numD%></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;<a href="/download/<%= i%>">   Download Now!</a></small>
                      </div>
                    </div>
              </div>
        <%}%>
        <!-- end -->
        </div>
            </div>
          </div>
      </div>
      
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script>
      </script>
      <% include ../partials/footer %>
