       <% include ../partials/navbar%>
       <br>
       <br>
<div class="row justify-content-center">
       <div class="col-md-8">
             <div class="card mb-3" style="max-width: 540px;">
                     <div class="row no-gutters">
                       <div class="col-md-4">
                         <img src="/ImagesUploaded/<%= CardDetails[0].Imagepath%>" class="card-img" alt="...">
                       </div>
                       <div class="col-md-8">
                         <div class="card-body">
                           <h5 class="card-title"><%=CardDetails[0].Name%></h5>
                           <p class="card-text">Vendor Name: <%= CardDetails[0].VendorName%><br> Number of Downloads: <%= CardDetails[0].numD%> <br> File size: <%=CardDetails[0].size%> </p>
                           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                         </div>
                       </div>
                     </div>
              </div>
       </div>
</div>
    <br>
    <br>
    <!-- group list -->
      <div class="row bg-light justify-content-center">
             <div class="col-md-10">
                 <ul class="list-group">
                     <%for(var i=0;i<CardDetails[0].Comments.length;i++){%>
                     <li class="list-group-item"><%= CardDetails[0].Comments[i]%></li>
                     <%}%>
                     <form method="POST" action="/insertcomment/<%= CardDetails[0]._id%>" enctype="multipart/form-data">
                     <li class="list-group-item">
                     <input type="text" name="cmt" style="width:80%;height:90px;"><button class="btn btn-info" style="margin-left: 10px" type="submit">Comment</button>
                     </li>
                     </form>
                 </ul>
             </div>
      </div>
    <br>
    <br>
    <br>
       <br>
       <!-- footer -->
       <% include ../partials/footer %>